# Twilio
account_sid: your_account_sid
auth_token: your_auth_token
from: +15551234567

# URL to check
url: http://someblog.blogspot.com/feeds/posts/default

recipients:
  - +15558675309
  - +15551112222
